<%= turbo_frame_tag "todo-form#{todo.id}" do %>
  <%= form_with(model: todo) do |form| %>
    <div class="form">
      <%= form.text_field :title, class: 'input', placeholder: 'Add a task' %>
      <% unless todo.new_record? %>
        <%= form.select :status, options_for_select(Todo.statuses.keys, todo.status), {}, {class: 'input'} %>
      <%end%>
      <%= form.submit "#{ todo.new_record? ? 'Add' : 'Update'}", class: 'add' %>
    </div>
  <% end %>
<%end%>