<%= turbo_frame_tag "todo-form#{todo.id}" do %>
  <div id="<%= dom_id todo %>" class="task">
    <div>
      <%= todo.title %>
    </div>
    
    <ul style="display: flex;" class="action-links">
      <li><span class="status <%=todo.status%>"><%=todo.status%></span> &nbsp;| </li>
      <li><%= link_to "edit", edit_todo_path(todo)%></li>
      <li><%= button_to "Delete", todo, { method: :delete, class: 'del', form: { data: { turbo_confirm: 'Are you sure?'}}} %></li>
    </ul>
  </div>
<%end%>
